.image-responsive {
    width: 10%;
    max-width: 400px;
    height: auto;
}

.my-image {
    /* width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */

    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

 .player-thumb{
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
 }
 